#mws-login-wrapper
  #mws-login
    %h1 After School Vendors Login
    .mws-login-lock
      %i.icon-lock
    #mws-login-form
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'mws-form') do |f|
        .mws-form-row
          .mws-form-item
            = f.input :email, label: false, input_html: { class: 'mws-login-username required', placeholder: "Email address" }
        .mws-form-row
          .mws-form-item
            = f.input :password, label: false, input_html: { class: 'mws-login-password required', placeholder: "Password" }
        #mws-login-remember.mws-form-row.mws-inset
          %ul.mws-form-list.inline
            %li
              = f.input  :remember_me, :as => :boolean, :inline_label => 'Remember Me' if devise_mapping.rememberable?
        .mws-form-row
          = button_tag "Login", :class => 'btn btn-success mws-login-button'
