!!!
/[if IE 7]
  <html class="ie ie7" lang="en-US">
/[if IE 8]
  <html class="ie ie8" lang="en-US">
/ [if !(IE 7) | !(IE 8)  ]><!
%html{lang: "en-US"}
  / <![endif]
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Aviators, http://themes.byaviators.com", name: "author"}/
    %link{href: "assets/img/favicon.png", rel: "shortcut icon", type: "image/png"}/
    /[if lt IE 9]
      <script src="assets/js/html5.js" type="text/javascript"></script>
    %meta{content: "noindex,nofollow", name: "robots"}/
    %link#font-css{href: "http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C300&subset=latin%2Clatin-ext&ver=3.6", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#revolution-fullwidth{href: "/assets/libraries/rs-plugin/css/fullwidth.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#revolution-settings{href: "/assets/libraries/rs-plugin/css/settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#bootstrap-css{href: "/assets/libraries/bootstrap/css/bootstrap.min.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#bootstrap-responsive-css{href: "/assets/libraries/bootstrap/css/bootstrap-responsive.min.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#pictopro-normal-css{href: "/assets/icons/pictopro-normal/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#justvector-web-font-css{href: "/assets/icons/justvector-web-font/stylesheet.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#chosen-css{href: "/assets/libraries/chosen/chosen.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#aviators-css{href: "/assets/css/jquery.bxslider.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %link#properta-css{href: "/assets/css/properta.css", media: "all", rel: "stylesheet", type: "text/css"}/
    %script{src: "http://code.jquery.com/jquery-1.7.2.min.js", type: "text/javascript"}
    %script{src: "/assets/js/aviators-settings.js", type: "text/javascript"}
    %script{src: "/assets/libraries/chosen/chosen.jquery.min.js", type: "text/javascript"}
    %script{src: "/assets/libraries/rs-plugin/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
    %script{src: "/assets/libraries/rs-plugin/js/jquery.themepunch.plugins.min.js", type: "text/javascript"}
    %title After School Vendors
  %body.home.page.page-template
    .top
      .container
        .top-inner.inverted
          .header.clearfix
            .branding.pull-left
              .logo
                = link_to root_path do
                  %img{alt: "Home", src: "/assets/img/logo.png"}/
              / /.logo
              .site-name
                = link_to 'After School Vendors', root_path, class: 'brand'
              / /.site-name
            .contact-top
              -#%ul.menu.nav
                %li.first.leaf.facebook
                  %a.facebook{href: "http://www.facebook.com"}
                    %i F
                %li.leaf.flickr
                  %a.flickr{href: "http://www.flickr.com"}
                    %i n
                %li.leaf.google-plus
                  %a.google{href: "http://plus.google.com"}
                    %i g
                %li.leaf.linkedin
                  %a.linkedin{href: "http://linkedin.com"}
                    %i l
                %li.leaf.twitter
                  %a.twitter{href: "http://www.twitter.com"}
                    %i T
                %li.last.leaf.vimeo
                  %a.vimeo{href: "http://vimeo.com"}
                    %i v
            .user-area.pull-right
              .menu-anonymous-container
                -#%ul#menu-anonymous.nav.nav-pills
                  %li.menu-item
                    %a{href: "register"} Register
                  %li.menu-item
                    %a{href: "login"} Login
            / /.user-area
          / /.header
          .navigation.navbar.clearfix
            .pull-left
              %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              .nav-collapse.collapse
                %ul#menu-main.nav
                  %li.menu-item.active-menu-item.menu-item
                    %a{href: "#"} Homepage
                  %li.menu-item.menu-item
                    %a{href: "#"} Category
                    %ul.sub-menu
                      %li.menu-item
                        %a{href: "#"} Art Programs
                      %li.menu-item
                        %a{href: "#"} Music Programs
                      %li.menu-item
                        %a{href: "#"} Education Programs
                      %li.menu-item
                        %a{href: "#"} Sports Programs
                      %li.menu-item
                        %a{href: "#"} Animal Programs
                        %ul.sub-menu
                          %li.menu-item
                            %a{href: "#"} Sub 1
                          %li.menu-item
                            %a{href: "#"} Sub 2
                          %li.menu-item
                            %a{href: "#"} Sub 3
                  %li.menu-item.menu-item
                    = link_to 'About Us', about_us_path
                  %li.menu-item.menu-item
                    = link_to 'List With US', list_with_us_path
                  %li.menu-item.menu-item
                    = link_to 'Contact Us', contact_us_path
                  %li.menu-item
                    = link_to 'F.A.Q.', faq_path
                  -#%li.menu-item
                    %a{href: "#"} FAQ
            .pull-right
              .list-property
                .ribbon
                  %span.icon
              / /.list-property
            / /.pull-right
    #content.clearfix
      -#.map-wrapper
        .map
          :javascript
            var infoBoxes = [];

            var property1 = '<div class="infobox clearfix"><div class="close"><img src="assets/img/close.png" alt=""></div><div class="image"><a href="property-detail.html" ><img src="assets/img/property-tmp-small.png" alt="677 Cottage Terrace" width="130px"></a><div class="contract-type">For sale</div></div><div class="info"><div class="title"><a href="property-detail.html">677 Cottage Terrace</a></div><div class="location">Spring Valley</div><div class="property-info clearfix"><div class="area"><i class="icon icon-normal-cursor-scale-up"></i>650m<sup>2</sup></div><div class="bedrooms"><i class="icon icon-normal-bed"></i>1</div><div class="bathrooms"><i class="icon icon-normal-shower"></i>1</div></div><div class="price">59,600 €</div><div class="link"><a href="property-detail.html">View more</a></div></div></div>';
            var property2 = '<div class="infobox clearfix"><div class="close"><img src="assets/img/close.png" alt=""></div><div class="image"><a href="property-detail.html"><img src="assets/img/property-tmp-small.png" alt="643 37th Ave" width="130px"></a><div class="contract-type">For sale</div></div><div class="info"><div class="title"><a href="property-detail.html">643 37th Ave</a></div><div class="location">Burrville</div><div class="property-info clearfix"><div class="area"><i class="icon icon-normal-cursor-scale-up"></i>800m<sup>2</sup></div><div class="bedrooms"><i class="icon icon-normal-bed"></i>2</div><div class="bathrooms"><i class="icon icon-normal-shower"></i>2</div></div><div class="price">Contact us</div><div class="link"><a href="property-detail.html">View more</a></div></div></div>';
            var property3 = '<div class="infobox clearfix"><div class="close"><img src="assets/img/close.png" alt=""></div><div class="image"><a href="property-detail.html" ><img src="assets/img/property-tmp-small.png" alt="677 Cottage Terrace" width="130px"></a>                  <div class="contract-type">For sale</div></div><div class="info"><div class="title"><a href="property-detail.html">677 Cottage Terrace</a></div><div class="location">Spring Valley</div><div class="property-info clearfix"><div class="area"><i class="icon icon-normal-cursor-scale-up"></i>650m<sup>2</sup></div><div class="bedrooms"><i class="icon icon-normal-bed"></i>1</div><div class="bathrooms"><i class="icon icon-normal-shower"></i>1</div></div><div class="price">59,600 €</div><div class="link"><a href="property-detail.html">View more</a></div></div></div>';

            for (var i=0;i< 15 ;i++)
            {
                infoBoxes.push(property1);
                infoBoxes.push(property2);
                infoBoxes.push(property3);
            }

            jQuery(document).ready(function ($) {
                var map = $('#map').aviators_map({
                    locations: new Array([38.951399, -76.958463], [38.942855, -76.959149], [38.935945, -76.954085], [38.924194, -76.962497], [38.929335, -76.966402], [38.950131, -76.975286], [38.941386, -76.976745], [38.912975, -76.973269], [38.927266, -76.985156], [38.936813, -76.987173], [38.941653, -76.995885], [38.929235, -76.995627], [38.922024, -77.001378], [38.920788, -77.020304], [38.926531, -77.007558], [38.939384, -77.018115], [38.939217, -77.070257], [38.931539, -77.103517], [38.942454, -77.05352], [38.930571, -77.086007], [38.947194, -77.109696], [38.949864, -77.094762], [38.940685, -77.095964], [38.932474, -77.026441], [38.932941, -77.034165], [38.932641, -77.044079], [38.932908, -77.061674], [38.931372, -77.07781], [38.926665, -77.101457], [38.929135, -77.101671], [38.919086, -77.108538], [38.910103, -77.104504], [38.920221, -77.084033], [38.915513, -77.089741], [38.918752, -77.095105], [38.912073, -77.00597], [38.90486, -77.024724], [38.918418, -77.010605], [38.928868, -77.021377], [38.920154, -77.010562], [38.915847, -77.069699], [38.926164, -77.056739], [38.925045, -77.040063], [38.922591, -77.034291]),
                    types: new Array('family-house', 'villa', 'cottage', 'single-home', 'family-house', 'cottage', 'apartment', 'building-area', 'apartment', 'family-house', 'villa', 'family-house', 'villa', 'single-home', 'cottage', 'villa', 'condo', 'apartment', 'single-home', 'cottage', 'family-house', 'villa', 'apartment', 'apartment', 'villa', 'villa', 'apartment', 'cottage', 'villa', 'family-house', 'building-area', 'family-house', 'family-house', 'cottage', 'apartment', 'cottage', 'family-house', 'villa', 'cottage', 'condo', 'building-area', 'family-house', 'single-home', 'apartment'),
                    contents: infoBoxes,
                    transparentMarkerImage: 'assets/img/marker-transparent.png',
                    transparentClusterImage: 'assets/img/markers/cluster-transparent.png',
                    zoom: 14,
                    center: {
                        latitude: 38.932307,
                        longitude: -77.034258
                    },
                    filterForm: '.map-filtering',
                    enableGeolocation: '',
                    pixelOffsetX: -75,
                    pixelOffsetY: -200
                });
            });
          #map.map-inner{style: "height: 700px"}
          / /.map-inner
          .container
            .row
              .span12
                .property-filter.widget.filter-horizontal
                  .content
                    %form.form-inline.map-filtering{action: "javascript:void(0);", method: "get"}
                      .property-types{style: "height:1px !important; overflow: hidden;"}
                        .property-type.apartment
                          %label{for: "filter_type_6"}
                            %input#filter_type_6.no-ezmark{name: "filter_type[]", title: "Apartment", type: "checkbox", value: "6"}/
                            Apartment
                        .property-type.building-area
                          %label{for: "filter_type_42"}
                            %input#filter_type_42.no-ezmark{name: "filter_type[]", title: "Building Area", type: "checkbox", value: "42"}/
                            Building Area
                        .property-type.condo
                          %label{for: "filter_type_43"}
                            %input#filter_type_43.no-ezmark{name: "filter_type[]", title: "Condo", type: "checkbox", value: "43"}/
                            Condo
                        .property-type.cottage
                          %label{for: "filter_type_44"}
                            %input#filter_type_44.no-ezmark{name: "filter_type[]", title: "Cottage", type: "checkbox", value: "44"}/
                            Cottage
                        .property-type.family-house
                          %label{for: "filter_type_41"}
                            %input#filter_type_41.no-ezmark{name: "filter_type[]", title: "Family House", type: "checkbox", value: "41"}/
                            Family House
                        .property-type.single-home
                          %label{for: "filter_type_40"}
                            %input#filter_type_40.no-ezmark{name: "filter_type[]", title: "Single Home", type: "checkbox", value: "40"}/
                            Single Home
                        .property-type.villa
                          %label{for: "filter_type_45"}
                            %input#filter_type_45.no-ezmark{name: "filter_type[]", title: "Villa", type: "checkbox", value: "45"}/
                            Villa
                      / /.property-types
                      .general
                        %select#inputLocation-.location{name: "filter_location"}
                          %option{value: ""} Location
                          %option{value: "7"} Barney Circle
                          %option{value: "56"} Benning
                          %option{value: "54"} Benning Heights
                          %option{value: "55"} Benning Ridge
                          %option{value: "57"} Burrville
                          %option{value: "47"} Capitol Hill
                          %option{value: "58"} Capitol View
                          %option{value: "59"} Central Northeast
                          %option{value: "60"} Civic Betterment
                          %option{value: "48"} Judiciary Square
                          %option{value: "49"} Kingman Park
                          %option{value: "50"} Navy Yard
                          %option{value: "51"} Near Northeast
                          %option{value: "65"} Spring Valley
                          %option{value: "52"} Sursum Corda
                          %option{value: "53"} Swampoodle
                        %select#inputBeds-.beds{name: "filter_bedrooms"}
                          %option{value: ""} Beds
                          %option{value: "1"} 1
                          %option{value: "2"} 2
                          %option{value: "3"} 3
                          %option{value: "4"} 4
                          %option{value: "5"} 5
                          %option{value: "6"} 6
                          %option{value: "7"} 7
                          %option{value: "8"} 8
                          %option{value: "9"} 9
                          %option{value: "10"} 10
                        %select#inputBaths-.baths{name: "filter_bathrooms"}
                          %option{value: ""} Baths
                          %option{value: "1"} 1
                          %option{value: "2"} 2
                          %option{value: "3"} 3
                          %option{value: "4"} 4
                          %option{value: "5"} 5
                          %option{value: "6"} 6
                          %option{value: "7"} 7
                          %option{value: "8"} 8
                          %option{value: "9"} 9
                          %option{value: "10"} 10
                        %select#inputPriceFrom-.price-from{name: "filter_price_from"}
                          %option{value: ""} Price From
                          %option{value: "1000"} 1,000 €
                          %option{value: "20000"} 20,000 €
                          %option{value: "50000"} 50,000 €
                          %option{value: "100000"} 100,000 €
                        %select#inputPriceTo-.price-to{name: "filter_price_to"}
                          %option{value: ""} Price To
                          %option{value: "1000"} 1,000 €
                          %option{value: "20000"} 20,000 €
                          %option{value: "50000"} 50,000 €
                          %option{value: "100000"} 100,000 €
                        %input#inputAreaFrom-{name: "filter_area_from", placeholder: "Area from", type: "text", value: ""}/
                        %input#inputAreaTo-{name: "filter_area_to", placeholder: "Area to", type: "text", value: ""}/
                        %button.btn.btn-primary.btn-large Filter now!
                      / /.general
                  / /.content
                / /.property-filter
              / /.span12
            / /.row
          / /.container
        / /.map
      / /.map-wrapper
      .container
        .row
          .sidebar.span3
            #quick-search.widget.widget-search
              %h2 Quick Search
              .content
                %form.site-search{action: "javascript:void(0);", method: "get"}
                  %input#s.search-query.form-text{name: "s", placeholder: "Search", type: "text", value: ""}/
                  %button.btn{type: "submit"} Search
                / /.site-search
              / /.inner
            #partners_widget-2.widget.partners
              %h2 Partners
              .partners
                .row
                  .span3
                    .partner
                      %a{href: "http://www.themeforest.net"}
                        %img.thumbnail-image{alt: "themeforest", height: "70", src: "assets/img/partners/themeforest.png", width: "270"}/
                  / /.span3
                / /.row
              / /.partners
          / /#sidebar
          #main.span9
            = yield
          / /#main
        / /.row
      / /.container
    / /#content
    #footer-wrapper
      #footer-top
        #footer-top-inner.container
          .row
            .span3
              #nav_menu-2.widget.widget-nav_menu
                %h2 Helpful Links
                .menu-helpful-links-container
                  %ul#menu-helpful-links.menu
                    %li.menu-item
                      %a{href: "#"} Cat 1
                    %li.menu-item
                      %a{href: "#"} Cat 2
                    %li.menu-item
                      %a{href: "#"} Cat 3
                    %li.menu-item
                      %a{href: "#"} Cat 4
                    %li.menu-item
                      %a{href: "#"} Cat 5
                    %li.menu-item
                      %a{href: "#"} Cat 6
                    %li.menu-item
                      %a{href: "#"} Cat 7
                    %li.menu-item
                      %a{href: "#"} Cat 8
                    %li.menu-item
                      %a{href: "#"} Cat 9
                    %li.menu-item
                      %a{href: "#"} Cat 10
            .span3
              #nav_menu-2.widget.widget-nav_menu
                %h2 Helpful Links
                .menu-helpful-links-container
                  %ul#menu-helpful-links.menu
                    %li.menu-item
                      %a{href: "#"} Cat 11
                    %li.menu-item
                      %a{href: "#"} Cat 12
                    %li.menu-item
                      %a{href: "#"} Cat 13
                    %li.menu-item
                      %a{href: "#"} Cat 14
                    %li.menu-item
                      %a{href: "#"} Cat 15
                    %li.menu-item
                      %a{href: "#"} Cat 16
                    %li.menu-item
                      %a{href: "#"} Cat 17
                    %li.menu-item
                      %a{href: "#"} Cat 18
                    %li.menu-item
                      %a{href: "#"} Cat 19
                    %li.menu-item
                      %a{href: "#"} Cat 20
            .span3
              #nav_menu-2.widget.widget-nav_menu
                %h2 Helpful Links
                .menu-helpful-links-container
                  %ul#menu-helpful-links.menu
                    %li.menu-item
                      %a{href: "#"} Cat 21
                    %li.menu-item
                      %a{href: "#"} Cat 22
                    %li.menu-item
                      %a{href: "#"} Cat 23
                    %li.menu-item
                      %a{href: "#"} Cat 24
                    %li.menu-item
                      %a{href: "#"} Cat 25
                    %li.menu-item
                      %a{href: "#"} Cat 26
                    %li.menu-item
                      %a{href: "#"} Cat 27
                    %li.menu-item
                      %a{href: "#"} Cat 28
                    %li.menu-item
                      %a{href: "#"} Cat 29
                    %li.menu-item
                      %a{href: "#"} Cat 30
            .span3
              #featuredproperties_widget-2.widget.properties
                %h2 Featured Listings
                .content
                  .property.clearfix
                    .image
                      %a{href: "property-detail.html"}
                        %img.thumbnail-image{alt: "1", height: "425", src: "assets/img/property-tmp-small.png", width: "570"}/
                    / /.image
                    .wrapper
                      .title
                        %h3
                          %a{href: "#"}
                            Wacky Wild
                      / /.title
                      .location Ft Lauderdale,m Fl
                      / /.location
                      .price
                        Check it out
                      / /.price
                    / /.wrapper
                  / /.property
                  .property.clearfix
                    .image
                      %a{href: "property-detail.html"}
                        %img.thumbnail-image{alt: "1", height: "425", src: "assets/img/property-tmp-small.png", width: "570"}/
                    / /.image
                    .wrapper
                      .title
                        %h3
                          %a{href: "#"}
                            Circle Tech Fl
                      / /.title
                      .location Margate, Fl
                      / /.location
                      .price
                        Check it out
                      / /.price
                    / /.wrapper
                  / /.property
                  .property.clearfix
                    .image
                      %a{href: "property-detail.html"}
                        %img.thumbnail-image{alt: "1", height: "425", src: "assets/img/property-tmp-small.png", width: "570"}/
                    / /.image
                    .wrapper
                      .title
                        %h3
                          %a{href: "#"}
                            Go Trucker Go
                      / /.title
                      .location Pompano Beach, Fl
                      / /.location
                      .price
                        Check it out
                      / /.price
                    / /.wrapper
                  / /.property
          / /.row
        / /#footer-top-inner
      / /#footer-top
      .footer-bottom
        #footer.footer.container
          #footer-inner
            .row
              .span6
                #text-3.widget.widget-text
                  .textwidget 
                    © 
                    2013
                    After School Vendors, All Rights reserved
              / /.copyright
              .span6
                #nav_menu-3.widget.widget-nav_menu
                  .menu-footer-links-container
                    %ul#menu-footer-links.menu
                      %li.menu-item.active
                        = link_to 'Home', root_path
                      %li.menu-item.menu-item
                        = link_to 'About Us', about_us_path
                      %li.menu-item.menu-item
                        = link_to 'List With US', list_with_us_path
                      %li.menu-item.menu-item
                        = link_to 'Contact Us', contact_us_path
                      %li.menu-item
                        = link_to 'F.A.Q.', faq_path
              / /.span6
            / /.row
          / /#footer-inner
        / /#footer
    / /#footer-wrapper
    %script{src: "http://maps.googleapis.com/maps/api/js?v=3&sensor=true&ver=3.6", type: "text/javascript"}
    %script{src: "/assets/js/aviators-map.js", type: "text/javascript"}
    %script{src: "/assets/js/gmap3.infobox.min.js", type: "text/javascript"}
    %script{src: "/assets/js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "/assets/js/retina.js", type: "text/javascript"}
    %script{src: "/assets/js/gmap3.clusterer.js", type: "text/javascript"}
    %script{src: "/assets/js/jquery.ezmark.js", type: "text/javascript"}
    %script{src: "/assets/js/carousel.js", type: "text/javascript"}
    %script{src: "/assets/js/jquery.bxslider.js", type: "text/javascript"}
    %script{src: "/assets/js/properta.js", type: "text/javascript"}
    %script{src: "/assets/js/jquery.bxslider.min.js", type: "text/javascript"}
